<li id="<%= "#{dom_id(group)}_group" %>" class="p-3 sm:p-4" >
    <div class="flex items-center space-x-4">
      <div class="flex-1 min-w-0">
          <p class="text-lg font-medium text-gray-900 truncate dark:text-white">
            <% if group.not_member(current_user) %>
              <%= group.name %>
            <% else %>
              <%= link_to group.name, group_posts_path(group), class: "text-blue-600 hover:text-blue-700" %>
            <% end %>
            <% if group.created_by(current_user) %>
              <span class="text-xs text-gray-500 truncate dark:text-gray-600">Created by you</span>
            <% end %>
          </p>
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            <%= group.description %>
          </p>
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            <%= group.members_count + " " + group.posts_count  %> 
          </p>
      </div>
      <% if group.not_member(current_user.id) %>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <%= button_to "JOIN", members_path, method: :post, params: { group_id: group.id },class: "text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900" %>
        </div>
      <% end %>
    </div>
</li>