<%= turbo_frame_tag "modal" do %>

  <div id="authentication-modal" data-controller="group" tabindex="-1" aria-hidden="false" class="flex justify-center fixed z-50 w-full pt-20 p-8 overflow-x-hidden overflow-y-auto md:inset-0 md:h-full bg-gray-900 bg-opacity-70">
      <div class="relative w-full h-full max-w-md md:h-auto">

          <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
              <button type="button" data-action="group#closeModal" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="sr-only">Close modal</span>
              </button>
              <div class="px-6 py-6 lg:px-8">
                  <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add group</h3>
                  <%= simple_form_for group, html: { class: "space-y-6" } do |form| %>
                    <%= form.input :name, hint: "People will see this name before joining your gruop" %>
                    <%= form.input :description %>
                    <%= form.button :submit %>
                  <% end %>
              </div>
          </div>
      </div>
  </div> 


<% end %>

