<%= simple_form_for [@group, post], local: true, class: "contents" do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :title, label_html: { class: "sr-only" }, placeholder: "Post title"  %>
  <%= form.input :body, as: :text, label_html: { class: "sr-only"}, placeholder: "Post body ...", input_html: { rows: 5 } %>

  <%= form.button :submit %>
<% end %>
