<%= render(HeaderComponent.new(title: @group.name)) do %>
  <%= link_to 'Edit this group', edit_group_path(@group), data: { "turbo-frame": "modal" }, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
<% end %>

<main class="mx-auto md:w-full w-full flex">

    <div class="container p-2 sm:p-4 mx-auto">
        <div class="flex flex-row flex-wrap py-4">
            <main role="main" class="w-full sm:w-2/3 md:w-4/7 pt-1 pb-10 px-2">
              <%= render "form", post: @post %>

              <div id="posts" class="mt-6 border-t dark:border-gray-600 min-w-full">
                <%= render @posts %>
              </div>

            </main>
            <aside class="w-full sm:w-1/3 md:w-3/7 px-2 border-l dark:border-gray-600 dark:bg-gray-900">
                <div class="sticky top-0 p-4 rounded-xl w-full">
                  
                  <h2 class="mb-4 text-sm font-semibold text-gray-900 uppercase dark:text-white">Members</h2>

                  <div id="members">
                    <%= render "members", members: @members %>
                  </div>                  

                </div>
            </aside>
        </div>
    </div>

</main>
